
*{
    color: #EEE2DE;
} 
body {
    text-align: center;
    background-color: white;
}
h1,h2 {
    color: azure;
}
#bulbul {
    background-color: #35374B;
    position: absolute;
    top:0% ;
    right:0% ;
    left:0% ;
    height: 100px;
}
#dulbul {
    background-color: #35374B;
    position: fixed;
    bottom: 0%;
    right:0% ;
    left:0% ;
    height: 50px;
    /* display: flex;
    flex-direction: column; */
    
}
footer{
    height: 50px;
}
header {
    height: 100px;
}
#pol {
    background-color: #344955;
    height: 30px;
    font-size: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
#pull {
    background-color: #344955;
    height: 20px;
    font-size: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h2 {
    margin: 0px;
    height: 30px;
}
#Whatsapp,#Gmail,#Linkedin {
    text-decoration: none;
}
#Whatsapp:hover {
    color: green;
    text-decoration: underline;
}
#Gmail:hover {
    color: #14baa7;
    text-decoration: underline;
}
#Linkedin:hover {
    color: blue;
    text-decoration: underline;
}

.goal {
    text-decoration: none;
}
.goal:hover {
    color: red;
    text-decoration: underline;
}
#query {
    position: relative;
    top:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: black;
}
.class {
    align-self: end;
}